### Import Library

In [1]:
import pandas as pd
import numpy as np
from numpy import int64
pd.set_option('display.max_columns', None)

### Load Dataset

In [2]:
# 1)  Jumlah Ibu Hamil
jml_bumil = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dinkes-od_17485_jumlah_ibu_hamil_berdasarkan_kabupatenkota_data.csv')

# 2) Jumlah Kematian Ibu
AKI_kel_umur = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dinkes-od_15945_jumlah_kematian_ibu_berdasarkan_kelompok_umur_data.csv')

# 3) Jumlah Kunjungan 2x Ibu Hamil
K1_K4 = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dinkes-od_15946_jumlah_kunjungan_ibu_hamil_berdasarkan_jenis_kunjungan_data.csv')

# 4) Jumlah Ibu Hamil Periksa 4x
bumil_periksa4x = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_periksa_4_kali_selama_kehamilan__desa_kelurah_data.csv')

# 5) Jumlah Ibu Hamil Kekurangan Energi Kronis (KEK)
bumil_kek = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mnglm_kekurangan_energi_kronis_kek__desa_kelu_data.csv')

# 6) Jumlah Ibu Hamil Kekurangan Energi Kronis (KEK) dan dikunjungi
bumil_kek_kunj = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mnglm_kekurangan_energi_kronis_kek_mendapat_k_data.csv')

# 7) Jumlah Ibu Hamil Resiko Tinggi (RESTI)
bumil_resti = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mnglm_resiko_tinggi_kehamilan_resti__desa_kel_data.csv')

# 8) Jumlah Ibu Hamil Resiko Tinggi (RESTI) dan dikunjungi
bumil_resti_kunj = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mnglm_resiko_tinggi_kehamilan_resti_mendapat__data.csv')

# 9) Jumlah Ibu Hamil Mendapat dan Meminum Pil FE
bumil_pil_fe = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mendapat_meminum_pil_fe_selama_90_hari__desa__data.csv')

# 10) Jumlah Ibu Hamil Mendapat Konseling Gizi
bumil_kons = pd.read_csv('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\data.jabarprov.go.id\dpmdes-idm_jml_ibu_hamil_mengikuti_konseling_gizi_kelas_ibu_minimal_4__data.csv')


# Lakukan penggabungan dataset Utama, dataset1 dengan KabupateKota (1-3) tetap dengan format tersebut, 
# sementara dataset2 dengan kelurahan/desa (4-10) terlebih dahulu dikelompokan menjadi Kabupaten/kota sebelum ke dataset utama.

### Dataset Kab/Kota

1. Kelompokan Data kematian Ibu menjadi satu Kabupaten dan Kota, hapus kolom yang tidak diperlukan.

In [3]:
AKI_19 = AKI_kel_umur.groupby(['nama_kabupaten_kota','tahun']).sum()
AKI_19.reset_index(inplace=True)

# drop colom yang tidak diperlukan
AKI_19.drop(columns=['id','kode_provinsi','kode_kabupaten_kota'], axis=1, inplace=True)

# Hilangkan kata Kabupaten
AKI_19['nama_kabupaten_kota'] = AKI_19['nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
AKI_19.head()

  nama_kabupaten_kota  tahun  jumlah_kematian
0             BANDUNG   2019               40
1       BANDUNG BARAT   2019               43
2              BEKASI   2019               22
3               BOGOR   2019               72
4              CIAMIS   2019               14

1.1 Load data AKI tahun 2020

In [4]:
# Data AKI 2020 didapat dari Excel dengan sebelumnya memasukannya secara manual.

AKI_20 = pd.read_excel('C:\Ery\Pacmann\Extra Project/1\Dataset\Des_Kel_Jawa Barat\Hasil Wrangling\AKI_Jabar_kab_kot_19_20.xlsx', engine='openpyxl', sheet_name='AKI_20')
AKI_20.head()

  nama_kabupaten_kota  tahun  jumlah_kematian
0             BANDUNG   2020               39
1       BANDUNG BARAT   2020               38
2              BEKASI   2020               29
3               BOGOR   2020               74
4              CIAMIS   2020               16

1.2 Gabungkan dengan data AKI 2019

In [5]:
AKI_19_20 = pd.concat([AKI_19,AKI_20])

AKI_19_20.reset_index(inplace=True)

AKI_19_20.drop(columns=['index'],inplace=True)

AKI_19_20.head()

  nama_kabupaten_kota  tahun  jumlah_kematian
0             BANDUNG   2019               40
1       BANDUNG BARAT   2019               43
2              BEKASI   2019               22
3               BOGOR   2019               72
4              CIAMIS   2019               14

2. Dataset Kunjungan 2x Ibu Hamil pilih tahun 2019 dan 2020, hapus kolom yang tidak diperlukan.

In [6]:
# pilih Kunjungan pada tahun 2019 dan 2020
K1_K4_19_20 = K1_K4[(K1_K4['tahun'] == 2019) | (K1_K4['tahun'] == 2020 )]

# drop colom yang tidak diperlukan
K1_K4_19_20.drop(columns=['id','kode_provinsi','nama_provinsi','kode_kabupaten_kota'], axis=1, inplace=True)

# Hilangkan kata Kabupaten
K1_K4_19_20['nama_kabupaten_kota'] = K1_K4_19_20['nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

c:\Ery\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\3897114728.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  K1_K4_19_20['nama_kabupaten_kota'] = K1_K4_19_20['nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

In [7]:
K1_K4_19_20.head()

    nama_kabupaten_kota jenis_kunjungan  jumlah_bumil satuan  tahun
709               BOGOR              K1        129559  ORANG   2019
710               BOGOR              K4        117711  ORANG   2019
711            SUKABUMI              K1         52021  ORANG   2019
712            SUKABUMI              K4         46004  ORANG   2019
713             CIANJUR              K1         48801  ORANG   2019

3. Dataset Jumlah Ibu Hamil pilih tahun 2019 dan 2020.

In [8]:
jml_bumil_19_20 = jml_bumil.loc[jml_bumil['tahun']>2018]

jml_bumil_19_20['nama_kabupaten_kota'] = jml_bumil_19_20['nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\391866594.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jml_bumil_19_20['nama_kabupaten_kota'] = jml_bumil_19_20['nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

In [9]:
jml_bumil_19_20.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun
81,82,32,JAWA BARAT,3201,BOGOR,128293,ORANG,2019
82,83,32,JAWA BARAT,3202,SUKABUMI,48541,ORANG,2019
83,84,32,JAWA BARAT,3203,CIANJUR,45277,ORANG,2019
84,85,32,JAWA BARAT,3204,BANDUNG,79389,ORANG,2019
85,86,32,JAWA BARAT,3205,GARUT,55955,ORANG,2019

4. Gabungkan 3 Dataset menjadi 1.

a. Jumlah ibu Hamil dengan Angka Kematian Ibu

In [10]:
jml_bumil_19_20.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun
81,82,32,JAWA BARAT,3201,BOGOR,128293,ORANG,2019
82,83,32,JAWA BARAT,3202,SUKABUMI,48541,ORANG,2019
83,84,32,JAWA BARAT,3203,CIANJUR,45277,ORANG,2019
84,85,32,JAWA BARAT,3204,BANDUNG,79389,ORANG,2019
85,86,32,JAWA BARAT,3205,GARUT,55955,ORANG,2019

In [11]:
AKI_19_20.head()

  nama_kabupaten_kota  tahun  jumlah_kematian
0             BANDUNG   2019               40
1       BANDUNG BARAT   2019               43
2              BEKASI   2019               22
3               BOGOR   2019               72
4              CIAMIS   2019               14

In [12]:
bumil_AKI = pd.merge(jml_bumil_19_20, AKI_19_20, how='inner', on=['nama_kabupaten_kota', 'tahun'])

In [13]:
bumil_AKI.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun,jumlah_kematian
0,82,32,JAWA BARAT,3201,BOGOR,128293,ORANG,2019,72
1,83,32,JAWA BARAT,3202,SUKABUMI,48541,ORANG,2019,42
2,84,32,JAWA BARAT,3203,CIANJUR,45277,ORANG,2019,0
3,85,32,JAWA BARAT,3204,BANDUNG,79389,ORANG,2019,40
4,86,32,JAWA BARAT,3205,GARUT,55955,ORANG,2019,45

b. Jumlah Ibu Hamil dan AKI dengan Kunjungan

In [14]:
kab_kota = pd.merge(bumil_AKI, K1_K4_19_20, how='outer', on=['nama_kabupaten_kota', 'tahun'])
kab_kota.drop(columns=['satuan_x',], axis=1, inplace=True)
kab_kota.rename(columns={'satuan_y': 'satuan'}, inplace=True)

In [15]:
# Data Kabupaten Kota.
kab_kota.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,tahun,jumlah_kematian,jenis_kunjungan,jumlah_bumil,satuan
0,82,32,JAWA BARAT,3201,BOGOR,128293,2019,72,K1,129559,ORANG
1,82,32,JAWA BARAT,3201,BOGOR,128293,2019,72,K4,117711,ORANG
2,83,32,JAWA BARAT,3202,SUKABUMI,48541,2019,42,K1,52021,ORANG
3,83,32,JAWA BARAT,3202,SUKABUMI,48541,2019,42,K4,46004,ORANG
4,84,32,JAWA BARAT,3203,CIANJUR,45277,2019,0,K1,48801,ORANG

### Dataset Kelurahan/Desa

1. Lakukan pengelompokan data berdasarkan Kabupaten/Kota dan diambil tahun 2019-2020

In [16]:
# Sebelum dikelompokan, diubah dahulu tipe tahun dan variabel jumlah pada dataset ini menjadi int64
bumil_periksa4x['tahun'] = bumil_periksa4x['tahun'].apply(np.int64)
bumil_periksa4x['jumlah_ibu_hamil_periksa_4_kali'] = bumil_periksa4x['jumlah_ibu_hamil_periksa_4_kali'].apply(np.int64)

bumil_kek['tahun'] = bumil_kek['tahun'].apply(np.int64)
bumil_kek['jumlah_ibu_hamil_mengalami_kek'] = bumil_kek['jumlah_ibu_hamil_mengalami_kek'].apply(np.int64)

bumil_kek_kunj['tahun'] = bumil_kek_kunj['tahun'].apply(np.int64)
bumil_kek_kunj['jumlah_ibu_hamil_kek_kunjungan'] = bumil_kek_kunj['jumlah_ibu_hamil_kek_kunjungan'].apply(np.int64)

bumil_resti['tahun'] = bumil_resti['tahun'].apply(np.int64)
bumil_resti['jumlah_ibu_hamil_resti'] = bumil_resti['jumlah_ibu_hamil_resti'].apply(np.int64)

bumil_resti_kunj['tahun'] = bumil_resti_kunj['tahun'].apply(np.int64)
bumil_resti_kunj['jumlah_ibu_hamil_resti_kunjungan'] = bumil_resti_kunj['jumlah_ibu_hamil_resti_kunjungan'].apply(np.int64)

bumil_pil_fe['tahun'] = bumil_pil_fe['tahun'].apply(np.int64)
bumil_pil_fe['jumlah_ibu_hamil_pil_fe'] = bumil_pil_fe['jumlah_ibu_hamil_pil_fe'].apply(np.int64)

bumil_kons['tahun'] = bumil_kons['tahun'].apply(np.int64)
bumil_kons['jumlah_ibu_hamil_konseling_gizi'] = bumil_kons['jumlah_ibu_hamil_konseling_gizi'].apply(np.int64)

In [17]:
# lakukan grouping menjadi kabupaten/kota dan tahun
bumil_periksa4x_gr = bumil_periksa4x.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_kek_gr = bumil_kek.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_kek_kunj_gr = bumil_kek_kunj.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_resti_gr = bumil_resti.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_resti_kunj_gr = bumil_resti_kunj.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_pil_fe_gr = bumil_pil_fe.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()
bumil_kons_gr = bumil_kons.groupby(['bps_nama_kabupaten_kota', 'tahun']).sum()

# lakukan reset index
bumil_periksa4x_gr.reset_index(inplace=True)
bumil_kek_gr.reset_index(inplace=True)
bumil_kek_kunj_gr.reset_index(inplace=True)
bumil_resti_gr.reset_index(inplace=True)
bumil_resti_kunj_gr.reset_index(inplace=True)
bumil_pil_fe_gr.reset_index(inplace=True)
bumil_kons_gr.reset_index(inplace=True)

# pilih data tahun 2019 dan 2020
bumil_periksa_19_20 = bumil_periksa4x_gr[(bumil_periksa4x_gr['tahun'] == 2019) | (bumil_periksa4x_gr['tahun'] == 2020)]
bumil_kek_19_20 = bumil_kek_gr[(bumil_kek_gr['tahun'] == 2019) | (bumil_kek_gr['tahun'] == 2020)]
bumil_kek_kunj_19_20 = bumil_kek_kunj_gr[(bumil_kek_kunj_gr['tahun'] == 2019) | (bumil_kek_kunj_gr['tahun'] == 2020)]
bumil_resti_19_20 = bumil_resti_gr[(bumil_resti_gr['tahun'] == 2019) | (bumil_resti_gr['tahun'] == 2020)]
bumil_resti_kunj_19_20 = bumil_resti_kunj_gr[(bumil_resti_kunj_gr['tahun'] == 2019) | (bumil_resti_kunj_gr['tahun'] == 2020)]
bumil_pil_fe_19_20 = bumil_pil_fe_gr[(bumil_pil_fe_gr['tahun'] == 2019) | (bumil_pil_fe_gr['tahun'] == 2020)]
bumil_kons_19_20 = bumil_kons_gr[(bumil_kons_gr['tahun'] == 2019) | (bumil_kons_gr['tahun'] == 2020)]

# drop columns yang tidak diperlukan
bumil_periksa_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True) 
bumil_kek_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)
bumil_kek_kunj_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)
bumil_resti_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)
bumil_resti_kunj_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)
bumil_pil_fe_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)
bumil_kons_19_20.drop(columns=['id','kode_provinsi', 'bps_kode_kabupaten_kota', 'bps_kode_kecamatan', 'bps_kode_desa_kelurahan'],inplace=True)

# Hilangkan kata "KABUPATEN"
bumil_periksa_19_20['bps_nama_kabupaten_kota'] = bumil_periksa_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_kek_19_20['bps_nama_kabupaten_kota'] = bumil_kek_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_kek_kunj_19_20['bps_nama_kabupaten_kota'] = bumil_kek_kunj_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_resti_19_20['bps_nama_kabupaten_kota'] = bumil_resti_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_resti_kunj_19_20['bps_nama_kabupaten_kota'] = bumil_resti_kunj_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_pil_fe_19_20['bps_nama_kabupaten_kota'] = bumil_pil_fe_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
bumil_kons_19_20['bps_nama_kabupaten_kota'] = bumil_kons_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

c:\Ery\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_periksa_19_20['bps_nama_kabupaten_kota'] = bumil_periksa_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_kek_19_20['bps_nama_kabupaten_kota'] = bumil_kek_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_kek_kunj_19_20['bps_nama_kabupaten_kota'] = bumil_kek_kunj_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_resti_19_20['bps_nama_kabupaten_kota'] = bumil_resti_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_resti_kunj_19_20['bps_nama_kabupaten_kota'] = bumil_resti_kunj_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_pil_fe_19_20['bps_nama_kabupaten_kota'] = bumil_pil_fe_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')
C:\Users\Nia Ratna\AppData\Local\Temp\ipykernel_19392\49782364.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bumil_kons_19_20['bps_nama_kabupaten_kota'] = bumil_kons_19_20['bps_nama_kabupaten_kota'].str.replace('KABUPATEN ', '')

In [27]:
# Gabungkan ke 7 dataset menjadi satu dataset kelurahan/desa

kel_desa_1 = pd.merge(bumil_periksa_19_20, bumil_kek_19_20, how='inner', 
                      on=['bps_nama_kabupaten_kota','tahun'])
kel_desa_2 = pd.merge(bumil_kek_kunj_19_20, bumil_resti_19_20, how='inner', 
                      on=['bps_nama_kabupaten_kota','tahun'])
kel_desa_3 = pd.merge(bumil_resti_kunj_19_20, bumil_pil_fe_19_20, how='inner', 
                      on=['bps_nama_kabupaten_kota','tahun'])
kel_desa_4 = pd.merge(kel_desa_1, bumil_kons_19_20, how='inner', 
                      on=['bps_nama_kabupaten_kota','tahun'])
kel_desa_23 = pd.merge(kel_desa_2,kel_desa_3, how='inner',
                      on=['bps_nama_kabupaten_kota','tahun'])

kel_desa = pd.merge(kel_desa_4,kel_desa_23, how='inner',
                      on=['bps_nama_kabupaten_kota','tahun'])

# ubah nama kolom bps_nama_kabupaten_kota menjadi nama_kabupaten_kota
kel_desa.rename(columns={'bps_nama_kabupaten_kota': 'nama_kabupaten_kota'},inplace=True)

### Gabungkan dataset Kab/kota dan Kel_desa menjadi satu dataset Utama

In [30]:
kel_desa.head()

,nama_kabupaten_kota,tahun,jumlah_ibu_hamil_periksa_4_kali,jumlah_ibu_hamil_mengalami_kek,jumlah_ibu_hamil_konseling_gizi,jumlah_ibu_hamil_kek_kunjungan,jumlah_ibu_hamil_resti,jumlah_ibu_hamil_resti_kunjungan,jumlah_ibu_hamil_pil_fe
0,BANDUNG,2019,25349,1566,16739,1202,2821,2455,23689
1,BANDUNG,2020,22762,1473,17609,1470,2189,2021,22038
2,BANDUNG BARAT,2019,12171,411,6800,277,822,570,10630
3,BANDUNG BARAT,2020,12705,427,8550,436,986,719,11837
4,BEKASI,2019,10749,232,4539,450,843,763,8075

In [31]:
kab_kota.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,tahun,jumlah_kematian,jenis_kunjungan,jumlah_bumil,satuan
0,82,32,JAWA BARAT,3201,BOGOR,128293,2019,72,K1,129559,ORANG
1,82,32,JAWA BARAT,3201,BOGOR,128293,2019,72,K4,117711,ORANG
2,83,32,JAWA BARAT,3202,SUKABUMI,48541,2019,42,K1,52021,ORANG
3,83,32,JAWA BARAT,3202,SUKABUMI,48541,2019,42,K4,46004,ORANG
4,84,32,JAWA BARAT,3203,CIANJUR,45277,2019,0,K1,48801,ORANG

In [35]:
# lakukan penggabungan
kab_kota_kel_desa = pd.merge(kab_kota,kel_desa, how='left', on=['nama_kabupaten_kota', 'tahun'])

# isi nilai Nan dengan angka 0
main_dataset = kab_kota_kel_desa.fillna(0)

main_dataset.head()

### Simpan dataset gabungan ke dalam excel

In [41]:
main_dataset.to_excel('Main Dataset.xlsx')